* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #fdbf00;
  text-align: center;
}
.card {
  width: 90%;
  max-width: 740px;
  height: 500px;
  position: absolute;
  margin: 80px auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  transition: 1s;
}
.card:hover {
  transform: rotate(-5deg);
}
.card:hover .outside {
  transform: rotateY(-130deg);
}
.outside, .inside {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50.1%;
}
.inside {
  background: linear-gradient(to right, #e7e7e7, #ffffff 30%);
  line-height: 3;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 50%;
}
.outside {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 1;
  transform-origin: left;
  transition: 2s;
  cursor: pointer;
}
.front, .back {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateX(0deg);
}
.front {
  background-color: #ffffff;
}
.back {
  transform: rotateY(180deg);
  background: linear-gradient(to left, #e7e7e7, #ffffff 30%);
}
.cake {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 80px;
  left: 55%;
  transform: translateX(-50%) rotate(-30deg);
  border-radius: 50%;
  box-shadow: inset 50px 0 0 0 #fdbf00;
}
.cake:before {
  content: '';
  position: absolute;
  top: 0;
  left: 40%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.outside p {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 20px;
  text-align: center;
  letter-spacing: 4px;
  color: #000046;
}
.inside h1 {
  font-size: 100px;
  line-height: 100px;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #000046;
  background-color: #e7e7e7;
}
.italic {
  font-style: italic;
}

/* Mobile Compatibility */
@media (max-width: 768px) {
  .card {
      width: 90%;
      height: 400px;
  }
  .inside p {
      font-size: 14px;
  }
  .inside h1 {
      font-size: 80px;
  }
  .cake {
      width: 120px;
      height: 120px;
  }
  .outside p {
      font-size: 14px;
      letter-spacing: 3px;
  }
}
